name: Python CI  #name of workflow

# Trigger the workflow on any push to the main branch or pull request
on:
  push:      #event
    branches:
      - main   #which_branch
  pull_request: #event
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest   #container to run and test application (win/mac)

    steps:
      # Step 1: Check out the code from the repository
      - name: Check out code
        uses: actions/checkout@v2

      # Step 2: Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Step 4: Run tests
      - name: Run tests
        run: pytest
